<% layout('/layout/default.html', {title: '新闻详情', libs: ['validate', 'icheck']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-pencil-square-o"></i> ${tArticle.isNewRecord?'新增新闻':'编辑新闻'}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tArticle}" action="${ctx}/article/tArticle/save" method="post" class="form-horizontal">
			<div class="box-body">
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 分类：<i class="fa icon-question hide"></i>
							</label>
							<div class="col-sm-8">
								<#form:input path="categoryId"  maxlength="11" class="form-control required  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标题：
							</label>
							<div class="col-sm-8">
								<#form:input path="title"  maxlength="150" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 内容：
							</label>
							<div class="col-sm-8">
								<#form:textarea path="content" rows="4"  class="form-control input-xxlarge "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 图片：<i class="fa icon-question hide"></i>
							</label>
							<div class="col-sm-8">
								<#form:input path="image"  maxlength="255" class="form-control required  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 关键字：<i class="fa icon-question hide"></i>
							</label>
							<div class="col-sm-8">
								<#form:input path="keywords"  maxlength="255" class="form-control required  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 创建时间：<i class="fa icon-question hide"></i>
							</label>
							<div class="col-sm-8">
								<input id="createtime" type="text" name="createtime" maxlength="20" readonly="readonly" class="form-control required "
										value="${tArticle.createtime}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false});" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 描述：<i class="fa icon-question hide"></i>
							</label>
							<div class="col-sm-8">
								<#form:input path="description"  maxlength="300" class="form-control required  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 排序：<i class="fa icon-question hide"></i>
							</label>
							<div class="col-sm-8">
								<#form:input path="orders"  maxlength="11" class="form-control required  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 状态：<i class="fa icon-question hide"></i>
							</label>
							<div class="col-sm-8">
								<#form:input path="status"  maxlength="4" class="form-control required  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 作者：<i class="fa icon-question hide"></i>
							</label>
							<div class="col-sm-8">
								<#form:input path="author"  maxlength="255" class="form-control required  "/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('article:tArticle:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> 保 存</button>
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="window.parent.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> 关 闭</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>

<script type="text/javascript">
	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				js.showMessage(data.message);
				if(data.result == 'true'){
					window.parent.closeCurrentTabPage(window.parent.refreshTab);
				}
			});
	    }
	});
</script>