    <script type="text/javascript">
        var arrGrade = new Array(980886, 980666);
        $(function() {
            $("#Button1").click(function() { //按钮单击事件
                var strHTML = ""; //初始化保存内容变量
                $.ajax({
                    url: '7-6.xml',
                    dataType: 'xml',
                    success: function(data) {
                        $.each(arrGrade, function(i) {
                            var $strUser = $(data).find("User[grade=" + arrGrade[i] + "]");
                            strHTML += "<h3>年级：" + arrGrade[i] + "</h3>";
                            $strUser.each(function() {
                                strHTML += "姓名：" + $(this).children("name").text() + "<br>";
                                strHTML += "性别：" + $(this).children("sex").text() + "<br>";
                                strHTML += "邮箱：" + $(this).children("email").text() + "<hr>";
                            });
                        });
                        $("#Tip").html(strHTML); //显示处理后的数据
                    }
                });
            });
        });
    </script>

<body>
   <div class="iframe">
         <div class="title">
              <input id="Button1" type="button"
                     class="btn" value="获取数据" />
         </div>
         <div class="content">
              <div id="Tip"></div>
         </div>
    </div>
</body>
